<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tools-exceptionmonitor/src/main/de/smeo/tools/exceptionmonitor/commandline/ExceptionReport.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.smeo.tools.exceptionmonitor.commandline.ExceptionReport"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="resources/exceptionsamples.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tools-exceptionmonitor"/>
</launchConfiguration>
